# Django
SECRET_KEY=dev-secret-change-me
DEBUG=1
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,.localtest.me

# Database
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=multitenant
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Joel.-23

# Domains to try (localtest.me resolves to 127.0.0.1 automatically)
TENANT_DOMAIN_A=clinic-a.localtest.me
TENANT_DOMAIN_B=clinic-b.localtest.me
